<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="document">Dokument</label>
        <select class="form-control" id="document" formControlName="document">
          <option *ngFor="let documentType of documentTypes" [ngValue]="documentType">
            {{documentType.value}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="creation-place">Miejsce wystawienia</label>
        <input type="text" class="form-control" id="creation-place" formControlName="creationPlace">
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="number">Numer</label>
        <input type="text" class="form-control" id="number" formControlName="number">
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="creationDate">Data wystawienia</label>
        <input type="date" class="form-control" id="creationDate" formControlName="creationDate">
      </div>
      <div class="form-group">
        <label for="sellDate">Data sprzedaży</label>
        <input type="date" class="form-control" id="sellDate" formControlName="sellDate">
      </div>
    </div>
  </div>

  <div class="alert alert-primary"></div>

  <div class="row" formGroupName="sides">
    <div class="col" formGroupName="seller">
      <div class="form-group row">
        <label for="seller" class="col-sm-2 col-form-label">Sprzedawca</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="seller" formControlName="sellerName">
        </div>
      </div>
      <div class="form-group row">
        <label for="seller-nip" class="col-sm-2 col-form-label">NIP</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="seller-nip" formControlName="sellerNip">
        </div>
      </div>
      <div class="form-group row">
        <label for="seller-street" class="col-sm-2 col-form-label">Ulica</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="seller-street" formControlName="sellerStreet">
        </div>
      </div>
      <div class="form-group row">
        <label for="city" class="col-sm-2 col-form-label">Miasto/kod</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="city" formControlName="sellerCity">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="postcode" formControlName="sellerPostCode">
        </div>
      </div>
    </div>
    <div class="col" formGroupName="buyer">
      <div class="col">
        <div class="form-group row">
          <label for="buyer-name" class="col-sm-2 col-form-label">Nabywca</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="buyer-name" formControlName="buyerName">
          </div>
        </div>
        <div class="form-group row">
          <label for="buyer-nip" class="col-sm-2 col-form-label">NIP</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="buyer-nip" formControlName="buyerNip">
          </div>
        </div>
        <div class="form-group row">
          <label for="buyer-street" class="col-sm-2 col-form-label">Ulica</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="buyer-street" formControlName="buyerStreet">
          </div>
        </div>
        <div class="form-group row">
          <label for="buyer-city" class="col-sm-2 col-form-label">Miasto/kod</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="buyer-city" formControlName="buyerCity">
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="buyer-postcode" formControlName="buyerPostCode">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row alert alert-primary">
    <div class="col-sm-4">
      Nazwa towaru lub usługi
    </div>
    <div class="col-sm-1">
      Kod
    </div>
    <div class="col-sm-1">
      Jm.
    </div>
    <div class="col-sm-1">
      Ilość
    </div>
    <div class="col-sm-1">
      Cena netto
    </div>
    <div class="col-sm-1">
      Wartość netto
    </div>
    <div class="col-sm-1">
      Stawka VAT
    </div>
    <div class="col-sm-1">
      Kwota VAT
    </div>
    <div class="col-sm-1">
      Wartość brutto
    </div>
  </div>

  <div class="form-group row">

    <div class="col-sm-1">
      <i class="fas fa-minus" (click)="onServiceRemove()"></i>
    </div>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="buyer-city">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
  </div>

  <div class="form-group row">

    <div class="col-sm-1">
      <i class="fas fa-minus" (click)="onServiceRemove()"></i>
    </div>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="buyer-city">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6"> <i class="fas fa-plus" (click)="onServiceAdd()"></i></div>
    <div class="col-sm-2">
      Razem
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-2">
      Do zapłaty
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-1">

    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-2">
      Waluta
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="buyer-postcode">
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-1">

    </div>
  </div>

  <div class="alert alert-primary"></div>

  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" formControlName="status">
          <option *ngFor="let status of paymentStatus" [ngValue]="status">{{status.value}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="payment-method">Sposób płatności</label>
        <select class="form-control" id="payment-method" formControlName="paymentMethod">
          <option *ngFor="let paymentMethod of paymentMethods" [ngValue]="paymentMethod">{{paymentMethod.value}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="payment-deadline">Termin płatności</label>
        <input type="date" class="form-control" id="payment-deadline" formControlName="paymentDeadline">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="bank-account">Numer konta</label>
        <input type="text" class="form-control" id="bank-account" formControlName="bankAccount">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="comments">Uwagi</label>
        <input type="text" class="form-control" id="comments" formControlName="comments">
      </div>
    </div>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-outline-primary">Generuj pdf</button>
  </div>
</form>