<div class="form-group row alert alert-primary">
  <div class="col-sm-4">
    Nazwa towaru lub usługi
  </div>
  <div class="col-sm-1">
    Kod
  </div>
  <div class="col-sm-1">
    Jm.
  </div>
  <div class="col-sm-1">
    Ilość
  </div>
  <div class="col-sm-1">
    Cena netto
  </div>
  <div class="col-sm-1">
    Wartość netto
  </div>
  <div class="col-sm-1">
    Stawka VAT
  </div>
  <div class="col-sm-1">
    Kwota VAT
  </div>
  <div class="col-sm-1">
    Wartość brutto
  </div>
</div>

<div class="form-group row">

  <div class="col-sm-1">
    <i class="fas fa-minus"></i>
  </div>
  <div class="col-sm-3">
    <input type="text" class="form-control" id="buyer-city">
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-6"> <i class="fas fa-plus"></i></div>
  <div class="col-sm-2">
    Razem
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">

  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-6">
  </div>
  <div class="col-sm-2">
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-6">
  </div>
  <div class="col-sm-2">
    Do zapłaty
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">

  </div>
  <div class="col-sm-1">

  </div>
  <div class="col-sm-1">

  </div>
</div>
<div class="form-group row">
  <div class="col-sm-6">
  </div>
  <div class="col-sm-2">
    Waluta
  </div>
  <div class="col-sm-1">
    <input type="text" class="form-control" id="buyer-postcode">
  </div>
  <div class="col-sm-1">

  </div>
  <div class="col-sm-1">

  </div>
  <div class="col-sm-1">

  </div>
</div>

<div class="alert alert-primary"></div>